In [ ]:
#!pip install pandas 
#!pip install matplotlib
#!pip install scipy
#!pip install pandas seaborn matplotlib
import seaborn as sns

import matplotlib.pyplot as plt
from scipy.stats import gaussian_kde

import pandas as pd 
import  numpy as np
dist_file_1="/home/sophie/uncertain-identity-aware-tracking/deeplabcut/pig_tracking_dataset/evaluation-results/iteration-1/CDPQ_testFeb22-trainset90shuffle1/dist_100002.csv"
dist_file_2="/home/sophie/uncertain-identity-aware-tracking/deeplabcut/pig_tracking_dataset/evaluation-results/iteration-2/CDPQ_testFeb22-trainset90shuffle1/dist_10000.csv"
dist_file_3="/home/sophie/uncertain-identity-aware-tracking/deeplabcut/pig_tracking_dataset/evaluation-results/iteration-0/CDPQ_testFeb22-trainset90shuffle1/dist_10000.csv"


df_read_1 = pd.read_csv(dist_file_1, header=[0, 1, 2, 3], index_col=0)
df_read_2 = pd.read_csv(dist_file_2, header=[0, 1, 2, 3], index_col=0)
df_read_3 = pd.read_csv(dist_file_3, header=[0, 1, 2, 3], index_col=0)
df_read_1.index

Reading the rmse  and plotting the distribution

In [ ]:


def generate_arrays(df_read):
    # Step 2: Select all columns with 'rmse' at the last level
    rmse_columns = df_read.loc[:, pd.IndexSlice[:, :, :, 'rmse']]
    all_rmse=[]
    body_part=[]
    individuals=[]
    frames=[]
    for col in rmse_columns.columns:
        all_rmse= all_rmse+list(rmse_columns[col])
        body_part=body_part+[col[-2] for a in list(rmse_columns[col])]
        individuals=individuals+[col[-3] for a in list(rmse_columns[col])]
        frames=frames+list(df_read.index)
    # Print the selected columns
    print("\nColumns with 'rmse' at the last level:")
    def to_float(value):
        try:
            return float(value)
        except (ValueError, TypeError):
            return np.nan

    all_rmse = [to_float(a) for a in all_rmse ]
    all_rmse = np.array(all_rmse, dtype=float)
    body_part=np.array(body_part)
    individuals=np.array(individuals)
    frames=np.array(frames)
    body_part=body_part[~np.isnan(all_rmse)]
    individuals=individuals[~np.isnan(all_rmse)]
    frames=frames[~np.isnan(all_rmse)]

    all_rmse = all_rmse[~np.isnan(all_rmse)]
    print(len(all_rmse), np.mean(all_rmse), len(body_part))
    data= {'value':all_rmse, "body_part":body_part, "individuals":individuals, "frames":frames}
    df=pd.DataFrame(data)
    return df


df= generate_arrays (df_read_1)
df= generate_arrays (df_read_2)
df= generate_arrays (df_read_3)

fig, axes = plt.subplots(1, 2, figsize=(15, 6))

# Boxplot
sns.boxplot(x='body_part', y='value', data=df, ax=axes[0])
axes[0].set_title('Boxplot of body part rmse')

"""# Density Plot
sns.kdeplot(data=df, x='value', hue='body_part', fill=True, ax=axes[1] )
axes[1].set_title('Density of body part rmse')
"""
# Histogram
sns.histplot(data=df, x='value', hue='body_part', multiple='stack', ax=axes[1], bins=50, stat="percent")#, kde=True)
axes[1].set_title('Histogram of body part rmse in percentage')

plt.tight_layout()
plt.show()
#rmse full:6.54, rmse center-tail:2.93, rmse 2 ears head:7.06

 number and percentage  of individuals having at least one bodypart far

In [47]:
df
df['value_above_100'] = df['value'] > 100

# Group by frames and calculate the number of unique individuals with value > 100
frames_grouped = df.groupby('frames').apply(lambda x: x[x['value_above_100']]['individuals'].nunique())

frames_grouped_all_far_point_per_frame=  df.groupby('frames').apply(lambda x: x[x['value_above_100']]['individuals'])
# Calculate the total number of unique individuals per frame
total_individuals_per_frame = df.groupby('frames')['individuals'].nunique()

# Calculate the percentage
percentage_individuals_above_100 = (frames_grouped / total_individuals_per_frame) *100

# Combine results into a DataFrame
result_df = pd.DataFrame({
    'count_unique_individuals_with_body_part_above_100': frames_grouped,
    'total_individuals': total_individuals_per_frame,
    'percentage_unique_individuals_with_body_part_above_100_per_frame': percentage_individuals_above_100
}).reset_index()

result_df.mean()

frames                         393.500000
count_individuals_above_100      0.293147
total_individuals               15.000000
percentage_above_100             1.954315
dtype: float64

In [36]:
pd.set_option('display.max_rows', 20)
frames_grouped_all_far_point_per_frame=  df.groupby('frames').apply(lambda x: x[x['value_above_100']])

frames_grouped_all_far_point_per_frame

                   value body_part   individuals  frames  value_above_100
frames
18     41690  146.148244      lear   individual9      18             True
23     7679   100.034776      tail  individual11      23             True
25     38651  300.792151      lear   individual8      25             True
28     918    241.582650      lear   individual1      28             True
       9336   155.184912      lear  individual12      28             True
...                  ...       ...           ...     ...              ...
776    25713  207.898874      tail   individual3     776             True
777    5664   175.717549      tail  individual10     777             True
778    37690  174.490971      tail   individual7     778             True
785    1929   300.796798      rear   individual1     785             True
786    4907   304.042133      rear  individual10     786             True

[233 rows x 5 columns]

In [39]:
pd.set_option('display.max_rows', None)
frames_grouped = df.groupby('frames').apply(lambda x: x[x['value_above_100']]['individuals'].nunique())
frames_grouped

frames
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     1
19     0
20     0
21     0
22     0
23     1
24     0
25     1
26     0
27     0
28     2
29     3
30     0
31     0
32     0
33     0
34     1
35     0
36     0
37     1
38     0
39     0
40     0
41     0
42     0
43     0
44     0
45     1
46     0
47     3
48     0
49     0
50     0
51     1
52     1
53     0
54     0
55     0
56     0
57     0
58     0
59     0
60     0
61     0
62     0
63     1
64     0
65     1
66     0
67     1
68     0
69     0
70     0
71     1
72     0
73     0
74     0
75     0
76     1
77     0
78     1
79     1
80     0
81     1
82     0
83     0
84     0
85     1
86     2
87     1
88     1
89     0
90     1
91     0
92     1
93     0
94     0
95     0
96     0
97     0
98     0
99     0
100    0
101    1
102    0
103    0
104    0
105    0
106    0
107    1
108    0
109    0
110    1
111    1
112    2
113    0
114    0
115    1
116    0
117    0
118    1
119    1
120    0
121    0
122    0
123    0
124    0
125    0
126    0
127    0
128    0
129    0
130    0
131    0
132    1
133    1
134    0
135    0
136    0
137    0
138    0
139    0
140    0
141    0
142    0
143    1
144    1
145    0
146    0
147    0
148    0
149    0
150    0
151    0
152    0
153    0
154    0
155    1
156    2
157    0
158    0
159    1
160    0
161    0
162    0
163    0
164    1
165    1
166    0
167    0
168    1
169    1
170    0
171    0
172    1
173    0
174    0
175    0
176    1
177    0
178    0
179    0
180    0
181    0
182    0
183    0
184    0
185    0
186    0
187    0
188    0
189    0
190    1
191    0
192    1
193    0
194    1
195    1
196    1
197    1
198    0
199    0
200    1
201    0
202    0
203    0
204    0
205    0
206    0
207    0
208    1
209    0
210    0
211    0
212    0
213    0
214    0
215    1
216    0
217    0
218    0
219    0
220    0
221    0
222    0
223    0
224    1
225    0
226    2
227    1
228    1
229    1
230    0
231    0
232    0
233    1
234    1
235    1
236    0
237    0
238    1
239    1
240    0
241    1
242    0
243    0
244    0
245    1
246    0
247    0
248    0
249    0
250    1
251    0
252    0
253    1
254    0
255    0
256    1
257    0
258    0
259    0
260    0
261    1
262    0
263    1
264    1
265    1
266    1
267    0
268    0
269    0
270    0
271    1
272    0
273    0
274    1
275    0
276    1
277    0
278    0
279    0
280    0
281    1
282    0
283    0
284    0
285    0
286    0
287    0
288    0
289    0
290    0
291    0
292    0
293    1
294    0
295    0
296    0
297    0
298    1
299    0
300    0
301    1
302    0
303    0
304    0
305    1
306    2
307    1
308    2
309    0
310    1
311    2
312    1
313    2
314    2
315    0
316    0
317    0
318    0
319    0
320    1
321    1
322    0
323    0
324    0
325    1
326    0
327    0
328    0
329    1
330    0
331    0
332    1
333    0
334    1
335    1
336    0
337    0
338    1
339    1
340    0
341    0
342    0
343    0
344    0
345    2
346    0
347    0
348    1
349    0
350    0
351    0
352    0
353    0
354    0
355    0
356    0
357    0
358    0
359    0
360    0
361    0
362    0
363    0
364    0
365    0
366    1
367    0
368    0
369    0
370    0
371    2
372    1
373    2
374    2
375    2
376    1
377    1
378    0
379    1
380    0
381    1
382    0
383    0
384    0
385    0
386    0
387    0
388    0
389    0
390    0
391    0
392    0
393    0
394    0
395    0
396    1
397    0
398    0
399    1
400    0
401    0
402    0
403    0
404    0
405    0
406    0
407    0
408    0
409    0
410    0
411    0
412    1
413    1
414    1
415    0
416    0
417    0
418    0
419    0
420    0
421    0
422    0
423    0
424    0
425    0
426    0
427    0
428    0
429    0
430    0
431    0
432    0
433    0
434    0
435    0
436    0
437    0
438    0
439    0
440    1
441    0
442    0
443    0
444    0
445    0
446    0
447    0
448    0
449    0
450    0
451    0
452    0
453    0
454    0
455    0
456    0
457    0
458    0
459    0
460    0
461    2
462    1
463    1
464    0
465    0
466    1
467    0
468    1
469    1
470    0
471    0
472    0
473    0
474    0
475    0
476    0
477    0
478    0
479    0
480    0
481    0
482    0
483    0
484    0
485    0
486    0
487    0
488    0
489    0
490    0
491    0
492    0
493    1
494    0
495    0
496    0
497    0
498    0
499    0
500    0
501    0
502    0
503    0
504    0
505    2
506    0
507    0
508    0
509    0
510    1
511    1
512    0
513    1
514    0
515    2
516    0
517    0
518    1
519    1
520    1
521    1
522    0
523    0
524    1
525    0
526    0
527    0
528    0
529    0
530    0
531    0
532    1
533    0
534    0
535    0
536    1
537    1
538    1
539    0
540    0
541    0
542    0
543    1
544    1
545    0
546    0
547    0
548    0
549    0
550    0
551    0
552    0
553    0
554    0
555    0
556    0
557    0
558    0
559    0
560    0
561    0
562    0
563    0
564    0
565    0
566    1
567    0
568    0
569    0
570    0
571    0
572    0
573    0
574    0
575    0
576    1
577    0
578    0
579    0
580    0
581    0
582    1
583    0
584    1
585    1
586    1
587    0
588    1
589    1
590    1
591    0
592    0
593    0
594    1
595    0
596    0
597    0
598    0
599    0
600    1
601    1
602    1
603    0
604    0
605    0
606    0
607    1
608    0
609    2
610    2
611    1
612    0
613    1
614    0
615    0
616    0
617    0
618    0
619    0
620    0
621    0
622    0
623    0
624    0
625    1
626    1
627    0
628    1
629    1
630    0
631    0
632    0
633    0
634    0
635    2
636    0
637    0
638    0
639    0
640    0
641    1
642    0
643    1
644    0
645    2
646    0
647    0
648    0
649    1
650    1
651    1
652    0
653    0
654    0
655    0
656    0
657    1
658    0
659    0
660    0
661    0
662    0
663    1
664    1
665    0
666    0
667    0
668    0
669    0
670    0
671    0
672    0
673    0
674    0
675    0
676    0
677    0
678    0
679    0
680    1
681    0
682    1
683    0
684    0
685    1
686    1
687    0
688    1
689    0
690    0
691    0
692    0
693    0
694    0
695    0
696    1
697    0
698    0
699    0
700    0
701    0
702    0
703    0
704    0
705    0
706    0
707    0
708    0
709    0
710    0
711    0
712    0
713    0
714    0
715    0
716    0
717    0
718    0
719    0
720    1
721    1
722    1
723    1
724    0
725    1
726    0
727    0
728    0
729    1
730    0
731    1
732    0
733    0
734    0
735    0
736    0
737    0
738    0
739    0
740    1
741    1
742    0
743    1
744    1
745    0
746    0
747    1
748    0
749    0
750    0
751    1
752    1
753    2
754    2
755    0
756    2
757    0
758    0
759    0
760    0
761    0
762    0
763    0
764    0
765    0
766    0
767    0
768    1
769    0
770    0
771    0
772    0
773    0
774    0
775    0
776    1
777    1
778    1
779    0
780    0
781    0
782    0
783    0
784    0
785    1
786    1
787    0
dtype: int64